h1 {
  width: 100%;
  height: auto;
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding: 20px 0;
}

canvas {
  display: block;
  margin: 0 auto;
  // background: #dedede;
  box-shadow: 2px 2px 20px 2px black inset;

}

h2 {
  width: 100%;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}